.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 10rem;
    height: 3rem;
}

.header-menu {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 3rem;
    color: white;
}

.header-menu li {
    cursor: pointer;
}

.header-menu li:hover{
    color: var(--orange);
}